<template>
    <div>
        <img :alt="title" ref="uniquename" class="img-responsive center-vt-absolute fadeIn" :class="{ 'inView': inView }">
    </div>
</template>

<script>
    import { elementIsInViewport } from '../functions';
    export default {
        props: ['imgsrc', 'uniquename', 'title'],
        data() {
            return {
                inView: false
            }
        },
        created() {
            window.addEventListener('scroll', this.lazyloadIfInViewport);
            window.addEventListener('wheel', this.lazyloadIfInViewport);
            window.addEventListener('resize', this.lazyloadIfInViewport);
        },
        mounted() {
            this.lazyloadIfInViewport();
        },
        // destroyed() {
        //     window.removeEventListener('scroll', this.lazyloadIfInViewport);
        //     window.removeEventListener('wheel', this.lazyloadIfInViewport);
        //     window.removeEventListener('resize', this.lazyloadIfInViewport);
        // },
        methods: {
            lazyloadIfInViewport() {
                if(elementIsInViewport(this.$refs.uniquename)) {
                    this.$refs.uniquename.setAttribute("src", this.imgsrc);
                    this.inView = true;
                    window.removeEventListener('scroll', this.lazyloadIfInViewport);
                    window.removeEventListener('wheel', this.lazyloadIfInViewport);
                    window.removeEventListener('resize', this.lazyloadIfInViewport);
                }
            }
        }
    }
</script>

<style>
    .fadeIn {
        opacity: 0;
        transition: opacity 300ms ease-in-out 0ms;
    }
    .fadeIn.inView {
        opacity: 1;
    }
</style>

