<template>
    <div>
        <i class="fa fa-search"></i>
        <div class="search-previews-container">
            <div class="container">
                <div class="category-previews-box">
                    <form action="" method="GET">
                        <input type="text" name="query" autocomplete="off" v-model="query"
                               v-on:input="livesearch()" placeholder="Enter 3 characters or more">
                        <div class="posts" v-show="show">
                            <a :href="post.route" class="media" v-for="post in posts">
                                <div class="media-left">
                                    <div data-aspect-ratio="custom" class="img-container">
                                        <lazyload-img :imgsrc="post.smallImage" :uniquename="'post_' + post.id" :title="post.title"></lazyload-img>
                                    </div>
                                </div>
                                <div class="media-content">
                                    <h5><a :href="post.route">{{ post.title }}</a></h5>
                                    <p class="text">{{ post.excerpt }}</p>
                                    <p class="info">
                                        <span class="date">{{ post.publicationDate }}</span>
                                    </p>
                                </div>
                            </a>
                            <p class="view-all-results" v-if="total > 0">Showing {{ numberOfPosts }} of {{ total }} results. <a v-if="total > 6" :href="'/search?query=' + query">View all results</a></p>
                        </div>
                        <a class="algolia-credits right" href="https://www.algolia.com"><img
                                class="search-by-algolia" src="/images/search-by-algolia.png"
                                alt="Algolia Logo"></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash'
    export default {
        data() {
            return {
                posts: '',
                numberOfPosts: '0',
                total: '0',
                query: '',
                show: false
            }
        },
        methods: {
            livesearch: _.debounce(function (e) {
                if (this.query === "*" || this.query.length >= 3) {
                    this.show = true;
                    axios.get('/menu_search/' + this.query + '?query=')
                        .then(response => {
                            this.posts = response.data.data;
                            this.numberOfPosts = response.data.data.length;
                            this.total = response.data.total;
                        }, error => {
                            console.log(error)
                        })
                } else {
                    this.posts = '';
                    this.numberOfPosts = '0';
                    this.total = '0';
                    this.show = false;
                }
            }, 300)
        }
    }
</script>
