<template>
    <div>
        <form class="padding-bottom" action="" method="GET">
            <input type="text" autocomplete="off" name="query" v-model="query" v-on:input="livesearch()"
                   placeholder="Enter at least 3 characters">
            <a class="right" href="https://www.algolia.com">
                <img class="search-by-algolia" src="/images/search-by-algolia.png" alt="Algolia Logo"></a>
        </form>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 padding-bottom-md" v-for="post in posts" :key="post.id">
                <div data-aspect-ratio="custom" class="img-container">
                    <a :href="post.route">
                        <lazyload-img :imgsrc="post.mediumImage" :uniquename="'post_' + post.id" :title="post.title"></lazyload-img>
                    </a>
                </div>
                <h4><a :href="post.route">{{ post.title }}</a></h4>
                <p class="info">
                    <span><a class="author" :href="post.userUrl">{{ post.userPublicName }}</a></span>
                    <span class="date">· {{ post.publicationDate }}</span>
                </p>
                <p><a class="excerpt" :href="post.route">{{ post.excerpt }}</a></p>
            </div>

            <div class="col-xs-12" v-if="query === '*' || query.length >= 3">
                <div class="text-center">
                    <ul class="pagination">
                        <li v-if="current_page > 2"><a v-on:click="getPostsForPage(1)">1</a></li>
                        <li v-if="current_page > 1"><a v-on:click="getPostsForPage(current_page - 1)">{{ current_page - 1 }}</a></li>
                        <li class="active"><a v-on:click="getPostsForPage(current_page)">{{ current_page }}</a></li>
                        <li v-if="current_page < last_page"><a v-on:click="getPostsForPage(current_page + 1)">{{ current_page + 1 }}</a></li>
                        <li v-if="last_page > current_page + 1"><a v-on:click="getPostsForPage(last_page)">{{ last_page }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash'
    export default {
        props: ['query_prop', 'page_prop'],
        data() {
            return {
                posts: '',
                query: this.query_prop,
                query_param: '',
                current_page: this.page_prop,
                last_page: ''
            }
        },
        created() {
            this.getPostsForPage(this.current_page);
        },
        methods: {
            livesearch: _.debounce(function (e) {
                if (this.query === "*" || this.query.length >= 3) {
                    this.getPostsForPage(1);
                } else {
                    this.posts = '';
                }
            }, 300),
            getPostsForPage(page) {
                this.query_param = this.query;
                this.updateURL(page);
                axios.get('/search_posts/' + this.query_param + '?query=&page=' + page)
                    .then(response => {
                        this.posts = response.data.data;
                        this.current_page = response.data.current_page;
                        this.last_page = response.data.last_page;
                    }, error => {
                        console.log(error)
                    });
            },
            updateURL(page) {
                if (history.pushState) {
                    var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?query=' + this.query_param + '&page=' + page;
                    window.history.pushState({path:newurl},'',newurl);
                }
            }
        }
    }
</script>