<template>
  <div>
    <div>
      <p>If you delete your account, all your posts and profile will be permanently deleted from our system.</p>
      <p>Please enter <span class="error">Permanently delete my account</span> in the field below and press Delete to permanently delete your account.</p>
      <input type="text" name="confirm" @keyup="confirm($event)">
    </div>
    <button type="submit" :disabled="disabled === 1">Delete</button>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal: false,
                disabled: 1
            }
        },
        methods: {
            confirm(e) {
                if(e.target.value === 'Permanently delete my account') {
                    this.disabled = 0;
                }
            }
        }
    }
</script>