<template>
    <div @keydown="errors.clear($event.target.name), success.clear()">
        <div class="vimeo-video">
            <img v-show="!showVideo" src="/images/vimeo.jpg" alt="" class="img-responsive">
            <div v-if="showVideo" class="videoWrapper">
                <iframe :src="'https://player.vimeo.com/video/' + draftVideo.video_id" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="form-group margin-top">
                <label for="vimeo">Vimeo video id:
                    <span class="error" v-if="errors.has('video_id')" v-text="errors.get('video_id')"></span>
                    <span class="success" v-if="success" v-text="success.message"></span>
                    <p class="gray">(https://vimeo.com/.../{{ videoIdHelper }})</p>
                    <input type="text" name="video_id" id="vimeo" v-model="draftVideo.video_id" placeholder="" @keyup="updateVimeoVideo">
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import {Errors} from '../../errors';
    import {Success} from '../../success';
    import { redirecIfBanned } from '../../functions';
    import { redirecIfError } from '../../functions';
    export default {
        props: ['draft_vimeo_video_prop', 'draft_prop'],
        data() {
            return {
                errors: new Errors(),
                success: new Success(),
                draftVideo: this.draft_vimeo_video_prop,
                draft: this.draft_prop,
                showVideo: 0,
                videoIdHelper: 'xxxxxxxx'
            }
        },
        mounted() {
            if(this.draftVideo.video_id) {
                this.videoIdHelper = this.draftVideo.video_id;
                this.showVideo = 1;
            }
        },
        methods: {
            updateVimeoVideo: _.debounce(function (e) {
                this.videoIdHelper = this.draftVideo.video_id;
                if(this.draftVideo.video_id.length >= 3) {
                    this.showVideo = 1;
                    axios.put('/drafts/' + this.draft.id + '/update-video-id', {
                        type: 'vimeo',
                        video_id: this.draftVideo.video_id
                    }).then(response => {
                        redirecIfBanned(response);
                        redirecIfError(response);
                        this.success.record(response.data.message);
                        this.$parent.$emit('unsaved_changes', 1);
                    }, error => {
                        this.errors.record(error.response.data.errors);
                    });
                } else {
                    this.showVideo = 0;
                }
            }, 300)
        }
    }
</script>