<template>
    <div @change="errors.clear($event.target.name), success.clear()">
        <span class="error margin-bottom" v-if="errors.has('image')" v-text="errors.get('image')"></span>
        <span class="success margin-bottom" v-if="success" v-text="success.message"></span>
        <draggable v-model="draftImages" @start="drag=true" @end="drag=false" :options="{animation: 300}"
                   id="row-images" class="row padding-bottom" @sort="reorderImages">
            <div v-for="(image, index) in draftImages" :key="image.id" class="col-xs-6 col-sm-4">
                <label class="form-group uploaded-image">
                    <div class="img-box">
                        <img class="img-responsive" :src="image.path" alt="Please upload an image here.">
                        <div class="delete" @click="deleteImage(image)"><i class="fa fa-close" aria-hidden="true"></i></div>
                    </div>
                </label>
            </div>
            <div class="col-xs-6 col-sm-4">
                <label data-aspect-ratio="custom" class="image-upload" @change="uploadImage($event)">
                    <div class="hover">
                        <i class="center-hv-absolute fa fa-plus fa-2x"></i>
                    </div>
                    <input type="file" name="image">
                </label>
            </div>
        </draggable>
    </div>
</template>

<script>
    import draggable from 'vuedraggable';
    import {Errors} from '../../errors';
    import {Success} from '../../success';
    import { redirecIfBanned } from '../../functions';
    import { redirecIfError } from '../../functions';
    export default {
        components: {
            draggable
        },
        props: ['draft_images_prop', 'draft_prop'],
        data() {
            return {
                errors: new Errors(),
                success: new Success(),
                draftImages: this.draft_images_prop,
                draft: this.draft_prop
            }
        },
        methods: {
            uploadImage(e) {
                let formData = new FormData(),
                file = e.target.files[0];
                formData.append('_method', 'PUT');
                formData.append('image', file);
                formData.append('order', this.draftImages.length);
                axios.post('/drafts/' + this.draft.id + '/upload-image', formData)
                    .then(response => {
                        redirecIfBanned(response);
                        redirecIfError(response);
                        this.draftImages = response.data.draftImages;
                        this.success.record(response.data.message);
                        this.$parent.$emit('unsaved_changes', 1);
                    }, error => {
                        this.errors.record(error.response.data.errors);
                    });
            },
            reorderImages() {
                this.draftImages.map((image, index) => {
                    let obj = {};
                    obj[image.id] = index;
                    return obj;
                });
                let formData = new FormData();
                formData.append('_method', 'PUT');
                formData.append('orders', JSON.stringify(this.draftImages));
                axios.post('/drafts/' + this.draft.id + '/reorder-images', formData)
                    .then(response => {
                        redirecIfBanned(response);
                        redirecIfError(response);
                        this.draftImages = response.data.draftImages;
                        this.success.record(response.data.message);
                        this.$parent.$emit('unsaved_changes', 1);
                    }, error => {
                        this.errors.record(error.response.data.errors);
                    });
            },
            deleteImage(image) {
                axios.delete('/drafts/' + this.draft.id + '/delete-image/', {
                    image_number: image.image_number
                }).then(response => {
                        redirecIfBanned(response);
                        redirecIfError(response);
                        this.draftImages = response.data.draftImages;
                        this.success.record(response.data.message);
                        this.reorderImages();
                        this.$parent.$emit('unsaved_changes', 1);
                    }, error => {
                        this.errors.record(error.response.data.errors);
                    });
            }
        }
    }
</script>