<template>
    <div id="tab-drafts" class="tab-content bordered">
        <div class="row">
            <div class="col-xs-12">
                <div v-if="!user.suspended_at" class="block margin-bottom">
                    <a class="button" href="/posts/create">Create new post</a>
                </div>
                <input type="text" autocomplete="off" name="query" v-model="query" v-on:input="livesearch()"
                       placeholder="Enter at least 3 characters">
                <div class="filters">
                    <label class="filter"><input class="checkbox" name="status" type="checkbox" @click="toggleWithUnsavedChanges">With unsaved changes</label>
                    <label class="filter"><input class="checkbox" name="status" type="checkbox" @click="toggleNeverPublished">Never Published</label>
                    <label class="filter"><input class="checkbox" name="status" type="checkbox" @click="togglePublished">Published</label>
                </div>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-bottom-md" v-for="draft in drafts" :key="draft.id">
                <div data-aspect-ratio="custom" class="img-container">
                    <lazyload-img :imgsrc="draft.image" :uniquename="'draft_' + draft.id"></lazyload-img>
                </div>
                <h4>{{ draft.title }}</h4>
                <p class="info">
                    <span class="author">{{ draft.userPublicName }}</span>
                </p>
                <div class="block">
                    <p class="info date">Created: {{ draft.createdOn }}</p>
                </div>
                <div class="block">
                    <p class="info date">Published: {{ draft.publicationDate }}</p>
                </div>
                <div class="block margin-top">
                    <a v-if="draft.first_published_on" :href="draft.route" class="button">View</a>
                    <a :href="'/posts/' + draft.id + '/edit'" class="button">Edit</a>
                </div>
            </div>
            <div class="col-xs-12" v-if="query === '*' || query.length >= 3">
                <div class="text-center">
                    <ul class="pagination">
                        <li v-if="current_page > 2"><a v-on:click="getPostsForPage(1)">1</a></li>
                        <li v-if="current_page > 1"><a v-on:click="getPostsForPage(current_page - 1)">{{ current_page - 1 }}</a></li>
                        <li class="active"><a v-on:click="getPostsForPage(current_page)">{{ current_page }}</a></li>
                        <li v-if="current_page < last_page"><a v-on:click="getPostsForPage(current_page + 1)">{{ current_page + 1 }}</a></li>
                        <li v-if="last_page > current_page + 1"><a v-on:click="getPostsForPage(last_page)">{{ last_page }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import { redirecIfBanned } from '../../functions';
    export default {
        props: ['user_prop'],
        data() {
            return {
                user: this.user_prop,
                drafts: '',
                query: '*',
                query_param: '',
                current_page: 1,
                last_page: '',
                with_unsaved_changes: 0,
                never_published: 0,
                published: 0
            }
        },
        created() {
            this.getPostsForPage(this.current_page);
        },
        methods: {
            livesearch: _.debounce(function () {
                if (this.query === "*" || this.query.length >= 3) {
                    this.getPostsForPage(1);
                } else {
                    this.drafts = '';
                }
            }, 300),
            toggleWithUnsavedChanges() {
                this.with_unsaved_changes = !this.with_unsaved_changes;
                this.getPostsForPage(1);
            },
            toggleNeverPublished() {
                this.never_published = !this.never_published;
                this.getPostsForPage(1);
            },
            togglePublished() {
                this.published = !this.published;
                this.getPostsForPage(1);
            },
            getPostsForPage(page) {
                let params = {
                    query: this.query,
                    page: page,
                    with_unsaved_changes: this.with_unsaved_changes,
                    never_published: this.never_published,
                    published: this.published
                };
                axios.get('/dashboard/search_posts/', {
                    params: params
                }).then(response => {
                    redirecIfBanned(response);
                    this.drafts = response.data.data;
                    this.current_page = response.data.current_page;
                    this.last_page = response.data.last_page;
                }, error => {
                    console.log(error)
                });
            }
        }
    }
</script>