<template>
    <div id="post-edit">
        <form action="" method="post" enctype="multipart/form-data" @keydown="errors.clear($event.target.name), success.clear()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" v-if="!draft.first_published_on">
                        <label for="category_id">Category:
                            <span class="error" v-if="errors.has('category_id')" v-text="errors.get('category_id')"></span>
                            <span class="success" v-if="categorySuccess" v-text="categorySuccess.message"></span>
                            <select id="category_id" name="category_id" v-model="draft.category_id" @change="updateCategory()">
                                <option v-for="category in categories" :value="category.id" :selected="category.id === draft.category_id ? 'selected' : ''">{{ category.name }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="media-type">Media type:
                            <span class="error" v-if="errors.has('media_type')" v-text="errors.get('media_type')"></span>
                            <span class="success" v-if="mediaTypeSuccess" v-text="mediaTypeSuccess.message"></span>
                            <select id="media-type" name="media_type" v-model="draft.media_type" @change="updateMediaType()">
                                <option value="image">Images <span>(800 x 600)</span></option>
                                <option value="youtube">Youtube video</option>
                                <option value="vimeo">Vimeo video</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <dashboard-draft-images v-if="draft.media_type == 'image'" :draft_prop="draft" :draft_images_prop="draftImages"></dashboard-draft-images>
            <dashboard-draft-youtube v-if="draft.media_type == 'youtube'" :draft_prop="draft" :draft_youtube_video_prop="draftYoutubeVideo"></dashboard-draft-youtube>
            <dashboard-draft-vimeo v-if="draft.media_type == 'vimeo'" :draft_prop="draft" :draft_vimeo_video_prop="draftVimeoVideo"></dashboard-draft-vimeo>
            <div class="row">
                <div class="col-xs-12 padding-bottom-md">
                    <div class="form-group">
                        <label for="title">Title:
                            <span class="error" v-if="errors.has('title')" v-text="errors.get('title')"></span>
                            <span class="success" v-if="titleSuccess" v-text="titleSuccess.message"></span>
                            <input type="text" id="title" name="title" v-model="draft.title" @keyup="updateTitle($event)">
                        </label>
                    </div>
                    <div class="form-group article-text">
                        <label for="editor">Text:
                            <span class="error" v-if="errors.has('text')" v-text="errors.get('text')"></span>
                            <span class="success" v-if="textSuccess" v-text="textSuccess.message"></span>
                            <quill-editor id="editor" class="quill-editor"
                                          v-model="draft.text"
                                          :options="editorOption"
                                          @change="updateText()">
                            </quill-editor>
                        </label>
                    </div>
                    <div class="right margin-top">
                        <p class="success" v-if="success" v-text="success.message"></p>
                    </div>
                    <div class="right">
                        <cancel-changes-draft-modal :draft_id_prop="draft.id" :unsaved_changes="draft.unsaved_changes"></cancel-changes-draft-modal>
                        <publish-draft-modal class="margin-left" :draft_id_prop="draft.id" :unsaved_changes="draft.unsaved_changes"></publish-draft-modal>
                        <delete-draft-modal class="margin-left" :draft_id_prop="draft.id"></delete-draft-modal>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import _ from 'lodash';
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import { quillEditor } from 'vue-quill-editor'
    import {Errors} from '../../errors';
    import {Success} from '../../success';
    import { redirecIfBanned } from '../../functions';
    import { redirecIfError } from '../../functions';
    export default {
        props: ['categories_prop', 'draft_images_prop', 'draft_youtube_video_prop', 'draft_vimeo_video_prop', 'draft_prop'],
        data() {
            return {
                errors: new Errors(),
                mediaTypeSuccess: new Success(),
                categorySuccess: new Success(),
                success: new Success(),
                titleSuccess: new Success(),
                textSuccess: new Success(),
                draftYoutubeVideo: this.draft_youtube_video_prop,
                draftVimeoVideo: this.draft_vimeo_video_prop,
                draftImages: this.draft_images_prop,
                draft: this.draft_prop,
                categories: this.categories_prop,
                mediaType: this.draft_prop.media_type,
                editorOption: {
                    modules: {
                        toolbar: [
                            [{ header: [2, false] }],
                            ['bold', 'italic', 'underline', 'link'],
                            ['blockquote'],
                            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        ]
                    },
                    placeholder: ''
                }
            }
        },
        components: { quillEditor },
        created() {
            this.$on('published', message => {
                this.success.record(message);
                this.draft.unsaved_changes = 0;
            });
            this.$on('unsaved_changes', value => {
                this.draft.unsaved_changes = value;
            });
        },
        methods: {
            updateCategory() {
                this.errors.clear('category_id');
                this.categorySuccess.clear();
                axios.put('/drafts/' + this.draft.id + '/update-category/', {
                    category_id: this.draft.category_id
                }).then(response => {
                    redirecIfBanned(response);
                    redirecIfError(response);
                    this.categorySuccess.record(response.data.message);
                    this.draft.unsaved_changes = 1;
                }, error => {
                    this.errors.record(error.response.data.errors);
                });
            },
            updateMediaType() {
                this.errors.clear('media_type');
                this.mediaTypeSuccess.clear();
                axios.put('/drafts/' + this.draft.id + '/update-media-type/', {
                    media_type: this.draft.media_type
                }).then(response => {
                    redirecIfBanned(response);
                    redirecIfError(response);
                    this.mediaTypeSuccess.record(response.data.message);
                    this.draft.unsaved_changes = 1;
                }, error => {
                    this.errors.record(error.response.data.errors);
                });
            },
            updateTitle: _.debounce(function () {
                if(this.draft.title.length >= 3) {
                    this.errors.clear('title');
                    this.titleSuccess.clear();
                    axios.put('/drafts/' + this.draft.id + '/update-title/', {
                        title: this.draft.title
                    }).then(response => {
                        redirecIfBanned(response);
                        redirecIfError(response);
                        this.titleSuccess.record(response.data.message);
                        this.draft.unsaved_changes = 1;
                    }, error => {
                        this.errors.record(error.response.data.errors);
                    });
                }
            }, 300),
            updateText: _.debounce(function () {
                this.errors.clear('text');
                this.textSuccess.clear();
                let formData = new FormData();
                formData.append('_method', 'PUT');
                formData.append('text', this.draft.text);
                if(this.draft.text.length >= 3) {
                    axios.post('/drafts/' + this.draft.id + '/update-text/', formData)
                        .then(response => {
                            redirecIfBanned(response);
                            redirecIfError(response);
                            this.textSuccess.record(response.data.message);
                            this.draft.unsaved_changes = 1;
                        }, error => {
                            this.errors.record(error.response.data.errors);
                        });
                    }
            }, 300)
        }
    }
</script>