<template>
    <div id="tab-payments" class="tab-content bordered active">
        <div class="scroll">
            <table>
                <tbody>
                    <tr>
                        <th class="bold">Date</th>
                        <th class="bold">Paid to</th>
                        <th class="bold">Payment</th>
                        <th class="bold">Payslip</th>
                    </tr>
                    <tr>
                        <td>03-12-2017</td>
                        <td>danygiguere@paypal.com</td>
                        <td>583$</td>
                        <td><a href="">Download PDF</a></td>
                    </tr>
                    <tr>
                        <td>03-12-2017</td>
                        <td>danygiguere@paypal.com</td>
                        <td>583$</td>
                        <td><a href="">Download PDF</a></td>
                    </tr>
                    <tr>
                        <td>03-12-2017</td>
                        <td>danygiguere@paypal.com</td>
                        <td>583$</td>
                        <td><a href="">Download PDF</a></td>
                    </tr>
                    <tr>
                        <td>03-12-2017</td>
                        <td>danygiguere@paypal.com</td>
                        <td>583$</td>
                        <td><a href="">Download PDF</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash'
    export default {

    }
</script>