<template>
    <div id="tab-drafts" class="tab-content bordered">
        <div class="row">
            <div class="col-xs-12 padding-bottom">
                <input type="text" autocomplete="off" name="query" v-model="query" v-on:input="livesearch()"
                       placeholder="Enter at least 3 characters">
                <label class="filter inline margin-left"><input class="checkbox" type="checkbox" name="removed" @click="updateRemovedSelection">Removed</label>
                <label class="filter inline margin-left"><input class="checkbox" type="checkbox" name="self_deactivated" @click="updateSelfDeactivatedSelection">Self Deactivated</label>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding-bottom-md" v-for="post in posts" :key="post.id">
                <div data-aspect-ratio="custom" class="img-container">
                    <lazyload-img :imgsrc="post.mediumImage" :uniquename="'post_' + post.id" :title="post.title"></lazyload-img>
                </div>
                <h4>{{ post.title }}</h4>
                <p class="info">
                    <span>{{ post.userPublicName }}</span>
                    <span class="date">· {{ post.publicationDate }}</span>
                </p>
                <p>{{ post.excerpt }}</p>
                <div class="block margin-top">
                    <a v-if="!post.deleted_at" class="button" :href="post.route" >View</a>
                    <toggle-remove-post-modal :post_prop="post"></toggle-remove-post-modal>
                </div>
            </div>
            <div class="col-xs-12" v-if="query === '*' || query.length >= 3">
                <div class="text-center">
                    <ul class="pagination">
                        <li v-if="current_page > 2"><a v-on:click="getPostsForPage(1)">1</a></li>
                        <li v-if="current_page > 1"><a v-on:click="getPostsForPage(current_page - 1)">{{ current_page - 1 }}</a></li>
                        <li class="active"><a v-on:click="getPostsForPage(current_page)">{{ current_page }}</a></li>
                        <li v-if="current_page < last_page"><a v-on:click="getPostsForPage(current_page + 1)">{{ current_page + 1 }}</a></li>
                        <li v-if="last_page > current_page + 1"><a v-on:click="getPostsForPage(last_page)">{{ last_page }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import { redirecIfBanned } from '../../functions';
    import { redirecIfError } from '../../functions';
    export default {
        data() {
            return {
                posts: '',
                query: '*',
                query_param: '',
                current_page: 1,
                last_page: '',
                removed: 0,
                self_deactivated: 0
            }
        },
        created() {
            this.getPostsForPage(this.current_page);
            this.$on('postId', postId => {
                this.getPostsForPage(1);
            });
        },
        methods: {
            livesearch: _.debounce(function (e) {
                if (this.query === "*" || this.query.length >= 3) {
                    this.getPostsForPage(1);
                } else {
                    this.posts = '';
                }
            }, 300),
            updateRemovedSelection() {
                this.removed = !this.removed;
                this.getPostsForPage(1);
            },
            updateSelfDeactivatedSelection() {
                this.self_deactivated = !this.self_deactivated;
                this.getPostsForPage(1);
            },
            getPostsForPage(page) {
                let params = {
                    query: this.query,
                    page: page,
                    removed: this.removed,
                    self_deactivated: this.self_deactivated
                };
                axios.get('/dashboard/search_posts_for_all_users/', {
                    params: params
                }).then(response => {
                    redirecIfBanned(response);
                    redirecIfError(response);
                    this.posts = response.data.data;
                    this.current_page = response.data.current_page;
                    this.last_page = response.data.last_page;
                }, error => {
                    console.log(error)
                });
            }
        }
    }
</script>