<template>
    <div id="tab-profile" class="tab-content bordered">
        <form class="row padding-bottom" @submit.prevent="updateProfile" @keydown="errors.clear($event.target.name), success.clear()">
            <div class="col-xs-12">
                <h4 class="padding-top">Profile info</h4>
            </div>
            <div class="col-xs-12 col-lg-6">
                <dashboard-public-image :user_prop="user"></dashboard-public-image>
                <label>
                    Public name:
                    <span class="error" v-if="errors.has('public_name')" v-text="errors.get('public_name')"></span>
                    <input type="text" name="public_name" v-model="user.public_name">
                </label>
                <label>
                    Public url:
                    <span class="error" v-if="errors.has('url')" v-text="errors.get('url')"></span>
                    <input type="text" name="url" v-model="user.url">
                </label>
                <label>
                    Title:
                    <span class="error" v-if="errors.has('title')" v-text="errors.get('title')"></span>
                    <input type="text" name="title" v-model="user.title">
                </label>
                <label>
                    Description:
                    <span class="error" v-if="errors.has('description')" v-text="errors.get('description')"></span>
                    <input type="text" name="description" v-model="user.description">
                </label>
                <label>
                    Public email:
                    <span class="error" v-if="errors.has('public_email')" v-text="errors.get('public_email')"></span>
                    <input type="email" name="public_email" v-model="user.public_email">
                </label>
                <label>
                    Public email:
                    <span class="error" v-if="errors.has('public_email_2')" v-text="errors.get('public_email_2')"></span>
                    <input type="email" name="public_email_2" v-model="user.public_email_2">
                </label>
            </div>
            <div class="col-xs-12 col-lg-6 padding-bottom-md">
                <label>
                    Website:
                    <span class="error" v-if="errors.has('website')" v-text="errors.get('website')"></span>
                    <input type="text" name="website" v-model="user.website">
                </label>
                <label>
                    Website:
                    <span class="error" v-if="errors.has('website_2')" v-text="errors.get('website_2')"></span>
                    <input type="text" name="website_2" v-model="user.website_2">
                </label>
                <label>
                    Website:
                    <span class="error" v-if="errors.has('website_3')" v-text="errors.get('website_3')"></span>
                    <input type="text" name="website_3" v-model="user.website_3">
                </label>
                <label>
                    Facebook:
                    <span class="error" v-if="errors.has('facebook')" v-text="errors.get('facebook')"></span>
                    <input type="text" name="facebook" v-model="user.facebook">
                </label>
                <label>
                    Twitter:
                    <span class="error" v-if="errors.has('twitter')" v-text="errors.get('twitter')"></span>
                    <input type="text" name="twitter" v-model="user.twitter">
                </label>

                <label>
                    Google Plius:
                    <span class="error" v-if="errors.has('google_plus')" v-text="errors.get('google_plus')"></span>
                    <input type="text" name="google_plus" v-model="user.google_plus">
                </label>
                <label>
                    Youtube:
                    <span class="error" v-if="errors.has('youtube')" v-text="errors.get('youtube')"></span>
                    <input type="text" name="youtube" v-model="user.youtube">
                </label>
                <label>
                    Vimeo:
                    <span class="error" v-if="errors.has('vimeo')" v-text="errors.get('vimeo')"></span>
                    <input type="text" name="vimeo" v-model="user.vimeo">
                </label>
                <label>
                    Instagram:
                    <span class="error" v-if="errors.has('instagram')" v-text="errors.get('instagram')"></span>
                    <input type="text" name="instagram" v-model="user.instagram">
                </label>
                <p class="right success" v-if="success" v-text="success.message">Success</p>
                <div class="right">
                    <button class="button submit">Update info</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import { redirecIfBanned } from '../../functions';
    import {Errors} from '../../errors';
    import {Success} from '../../success';
    export default {
        props: ['user_prop'],
        data() {
            return {
                user: this.user_prop,
                errors: new Errors(),
                success: new Success(),
            }
        },
        methods: {
            updateProfile() {
                axios.put('/dashboard/update-profile/', this.user).then(response => {
                    redirecIfBanned(response);
                    this.success.record(response.data.message);
                }, error => {
                    this.errors.record(error.response.data.errors);
                });
            }
        }
    }
</script>