<template>
    <form @submit.prevent="saveImage">
        <label class="img-upload">
            Public image:
            <div class="img-box hover">
                <div class="color-overlay center-hv">
                    <p>Edit</p>
                </div>
                <img id="post-img" class="img-responsive post-img" :src="user.imageFullUrl" alt="">
            </div>
            <input type="file" name="image" id="image" @change="uploadImage($event), imageErrors.clear($event.target.name), imageSuccess.clear()">
        </label>
        <div class="margin-bottom">
            <p class="error" v-if="imageErrors.has('image')" v-text="imageErrors.get('image')"></p>
            <p class="success" v-if="imageSuccess" v-text="imageSuccess.message">Success</p>
            <button type="submit" id="submit">Save image</button>
        </div>
    </form>
</template>

<script>
    import { redirecIfBanned } from '../../functions';
    import {Errors} from '../../errors';
    import {Success} from '../../success';
    export default {
        props: ['user_prop'],
        data() {
            return {
                user: this.user_prop,
                file: '',
                imageErrors: new Errors(),
                imageSuccess: new Success()
            }
        },
        methods: {
            uploadImage(event) {
                this.$el.querySelector('img').src = URL.createObjectURL(event.target.files[0]);
                this.file = event.target.files[0];
            },
            saveImage() {
                let formData = new FormData(),
                    file = this.file;
                formData.append('_method', 'PUT');
                formData.append('image', file);
                axios.post('/dashboard/save-profile-image/', formData).then(response => {
                    redirecIfBanned(response);
                    this.user.imageFullUrl = response.data.imageFullUrl;
                    document.getElementById('post-img').setAttribute("src", this.user.imageFullUrl);
                    this.imageSuccess.record(response.data.message);
                }, error => {
                    this.imageErrors.record(error.response.data.errors);
                });
            }
        }
    }
</script>