<template>
    <div id="tab-profile" class="tab-content bordered">
        <div class="row">
            <form class="col-xs-12 col-lg-6 padding-bottom-md" @submit.prevent="updatePersonalInfo" @keydown="errors.clear($event.target.name), success.clear()">
                <h4 class="padding-top">Personal info</h4>
                <label>
                    Real name:
                    <span class="error" v-if="errors.has('real_name')" v-text="errors.get('real_name')"></span>
                    <input type="text" name="real_name" v-model="user.real_name">
                </label>
                <label>
                    Login email:
                    <span class="error" v-if="errors.has('email')" v-text="errors.get('email')"></span>
                    <input type="email" name="email" v-model="user.email">
                </label>
                <label>
                    Payment email:
                    <input type="email" name="payment_email">
                </label>
                <p class="right success" v-if="success" v-text="success.message">Success</p>
                <div class="right">
                    <button class="button submit">Update info</button>
                </div>
            </form>
            <form class="col-xs-12 col-lg-6 padding-bottom-md" @submit.prevent="updatePassword" @keydown="passwordErrors.clear($event.target.name), passwordSuccess.clear()">
                <h4 class="padding-top">Change password</h4>
                <label>
                    Current password:
                    <span class="error" v-if="passwordErrors.has('current_password')" v-text="passwordErrors.get('current_password')"></span>
                    <input type="password" name="current_password" v-model="user.current_password">
                </label>
                <label>
                    New password:
                    <span class="error" v-if="passwordErrors.has('password')" v-text="passwordErrors.get('password')"></span>
                    <input type="password" name="password" v-model="user.password">
                </label>
                <label>
                    Confirm new password:
                    <span class="error" v-if="passwordErrors.has('password_confirmation')" v-text="passwordErrors.get('password_confirmation')"></span>
                    <input type="password" name="password_confirmation" v-model="user.password_confirmation">
                </label>
                <p class="right success" v-if="passwordSuccess" v-text="passwordSuccess.message">Success</p>
                <div class="right">
                    <button class="button submit">Change password</button>
                </div>
            </form>
        </div>
        <div class="row padding-bottom">
            <div class="col-xs-12 col-lg-6 padding-bottom-md">
                <h4 class="padding-top">Account status</h4>
                <div class="scroll">
                    <table>
                        <tbody>
                        <tr>
                            <th colspan="2" class="text-center bold">Account</th>
                        </tr>
                        <tr>
                            <th class="bold">Status</th>
                            <td><span>{{ user.status }}</span></td>
                        </tr>
                        <tr v-if="user.self_deactivated">
                            <th class="bold">Deactivation date</th>
                            <td><span>{{ user.self_deactivated_at }}</span></td>
                        </tr>
                        <tr>
                            <th class="bold">Role</th>
                            <td>{{ user.role }}</td>
                        </tr>
                        <tr>
                            <th class="bold">Member Since</th>
                            <td>{{ user.created_at }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="right margin-top">
                    <div v-if="!self_deactivated">
                        <self-deactivate-user-modal></self-deactivate-user-modal>
                    </div>
                    <div v-if="self_deactivated">
                        <self-reactivate-user-modal></self-reactivate-user-modal>
                    </div>
                </div>
                <div class="right margin-top">
                    <a href="/dashboard/delete-my-account">Permanently delete my account</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Errors} from '../../errors';
    import {Success} from '../../success';
    import { redirecIfBanned } from '../../functions';
    export default {
        props: ['user_prop'],
        data() {
            return {
                user: this.user_prop,
                errors: new Errors(),
                success: new Success(),
                passwordErrors: new Errors(),
                passwordSuccess: new Success(),
                self_deactivated: this.user_prop.self_deactivated_at
            }
        },
        created() {
            this.user.status = this.user.self_deactivated_at !== null ? 'Deactivated' : this.user.status;
        },
        methods: {
            updatePersonalInfo() {
                axios.put('/dashboard/update-personal-info/', this.user).then(response => {
                    redirecIfBanned(response);
                    this.success.record(response.data.message);
                }, error => {
                    this.errors.record(error.response.data.errors);
                });
            },
            updatePassword() {
                axios.put('/dashboard/update-password/', this.user).then(response => {
                    redirecIfBanned(response);
                    this.passwordSuccess.record(response.data.message);
                }, error => {
                    this.passwordErrors.record(error.response.data.errors);
                });
            }
        }
    }
</script>