<template>
    <div id="tab-views" class="tab-content bordered active">
        <div class="row">
            <div class="col-xs-12">
                <input type="text" autocomplete="off" name="query" v-model="query" v-on:input="livesearch()"
                       placeholder="Enter at least 3 characters">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-5 filters" @change="updateRoleSelection($event)">
                <label class="filter"><input class="radio-button" type="radio" name="role" value="All" checked>All</label>
                <label class="filter"><input class="radio-button" type="radio" name="role" value="Applicant">Applicant</label>
                <label class="filter"><input class="radio-button" type="radio" name="role" value="Author">Author</label>
                <label class="filter"><input class="radio-button" type="radio" name="role" value="Admin">Admin</label>
                <label class="filter"><input class="radio-button" type="radio" name="role" value="Superadmin">Superadmin</label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-5 filters" @change="updateStatusSelection($event)">
                <label class="filter"><input class="radio-button" type="radio" name="status" value="All" checked>All</label>
                <label class="filter"><input class="radio-button" type="radio" name="status" value="Rejected">Rejected</label>
                <label class="filter"><input class="radio-button" type="radio" name="status" value="Suspended">Suspended</label>
                <label class="filter"><input class="radio-button" type="radio" name="status" value="Banned">Banned</label>
                <label class="filter"><input class="radio-button" type="radio" name="status" value="Active">Active</label>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2 filters">
                <label class="filter"><input class="checkbox" type="checkbox" name="self_deactivated" @click="updateSelfDeactivatedSelection">Self Deactivated</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="scroll">
                    <table>
                        <tbody>
                            <tr>
                                <th class="bold">User id</th>
                                <th class="bold">Email</th>
                                <th class="bold">Public name</th>
                                <th class="bold">Role</th>
                                <th class="bold">Status</th>
                                <th class="bold">Action</th>
                            </tr>
                            <tr v-for="user in users">
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.public_name }}</td>
                                <td>{{ user.role }}</td>
                                <td>{{ user.status }}</td>
                                <td><a v-if="user.role != 'Superadmin'" :href="'/users/' + user.url + '/manage'" class="button">Manage</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12" v-if="query === '*' || query.length >= 3">
                <div class="text-center">
                    <ul class="pagination">
                        <li v-if="current_page > 2"><a v-on:click="getUsersForPage(1)">1</a></li>
                        <li v-if="current_page > 1"><a v-on:click="getUsersForPage(current_page - 1)">{{ current_page - 1 }}</a></li>
                        <li class="active"><a v-on:click="getUsersForPage(current_page)">{{ current_page }}</a></li>
                        <li v-if="current_page < last_page"><a v-on:click="getUsersForPage(current_page + 1)">{{ current_page + 1 }}</a></li>
                        <li v-if="last_page > current_page + 1"><a v-on:click="getUsersForPage(last_page)">{{ last_page }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import { redirecIfBanned } from '../../functions';
    export default {
        data() {
            return {
                users: '',
                query: '*',
                query_param: '',
                current_page: 1,
                last_page: '',
                role: 'All',
                status: 'All',
                self_deactivated: 0
            }
        },
        created() {
            this.getUsersForPage(this.current_page);
        },
        methods: {
            updateRoleSelection(e) {
                this.role = e.target.value;
                this.getUsersForPage(1);
            },
            updateStatusSelection(e) {
                this.status = e.target.value;
                this.getUsersForPage(1);
            },
            updateSelfDeactivatedSelection() {
                this.self_deactivated = !this.self_deactivated;
                this.getUsersForPage(1);
            },
            livesearch: _.debounce(function (e) {
                if (this.query === "*" || this.query.length >= 3) {
                    this.getUsersForPage(1);
                } else {
                    this.users = '';
                }
            }, 300),
            getUsersForPage(page) {
                let params = {
                    query: this.query,
                    page: page,
                    role: this.role,
                    status: this.status,
                    self_deactivated: this.self_deactivated
                };
                axios.get('/dashboard/search_users/', {
                    params: params
                }).then(response => {
                    redirecIfBanned(response);
                    this.users = response.data.data;
                    this.current_page = response.data.current_page;
                    this.last_page = response.data.last_page;
                }, error => {
                    console.log(error)
                });
            }
        }
    }
</script>