<template>
    <div id="tab-views" class="tab-content bordered active">
        <div class="inline-block">
            <select name="timeframe" @change="searchViews($event)">
                <option value="0">Today <i class="fa fa-caret-down" aria-hidden="true"></i></option>
                <option value="1">Yesterday</option>
                <option value="7">Last 7 days</option>
                <option value="28">Last 28 days</option>
            </select>
        </div>
        <div class="scroll">
            <table>
                <tbody>
                    <tr>
                        <th class="bold">Created on</th>
                        <th class="bold">Url</th>
                        <th class="bold">Views</th>
                    </tr>
                    <tr v-for="view in views" >
                        <td>{{ view.created_at }}</td>
                        <td><a :href="'/' + view.url + '/' + view.slug + '/' + view.id">{{ '/' + view.url + '/' + view.slug + '/' + view.id }}</a></td>
                        <td>{{ view.total_views }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12">
            <div class="text-center">
                <ul class="pagination">
                    <li v-if="current_page > 2"><a v-on:click="getViewsForPage(1)">1</a></li>
                    <li v-if="current_page > 1"><a v-on:click="getViewsForPage(current_page - 1)">{{ current_page - 1 }}</a></li>
                    <li class="active"><a v-on:click="getViewsForPage(current_page)">{{ current_page }}</a></li>
                    <li v-if="current_page < last_page"><a v-on:click="getViewsForPage(current_page + 1)">{{ current_page + 1 }}</a></li>
                    <li v-if="last_page > current_page + 1"><a v-on:click="getViewsForPage(last_page)">{{ last_page }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import { redirecIfBanned } from '../../functions';
    export default {
        props: ['views_prop'],
        data() {
            return {
                views: this.views_prop.views,
                last_page: this.views_prop.lastPage,
                daysBack: 0,
                current_page: 1,
            }
        },
        methods: {
            searchViews(e) {
                this.daysBack = e.target.value;
                this.getViewsForPage(1)
            },
            getViewsForPage(page) {
                let params = {
                    page: page,
                    daysBack: this.daysBack
                };
                axios.get('/dashboard/search_views/', {
                    params: params
                }).then(response => {
                    redirecIfBanned(response);
                    this.views = response.data.views;
                    this.last_page = response.data.last_page;
                    this.current_page = page;
                }, error => {
                    console.log(error)
                });
            }
        }
    }
</script>