@import 'import';
@import 'partials/admin-nav';

/* https://smacss.com */
/* Base Rules */
body {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: #000;
  }
}

body, h1, h2, h3, h4, p, a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, p {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.8rem;

}

h2 {
  font-size: 2rem;
  line-height: 2.3rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

p, a {
  font-size: 1rem;
  line-height: 1rem;
}

/* Layout Rules */
section, main {
  padding-top: $padding-big;
  padding-bottom: $padding-big;
}


footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Themes Rules */
body {
  background-color: #fff;
}

footer {
  background-color: $dark;
}

.light {
  background-color: $light;
}

.super-light {
  background-color: $super-light;
}

.dark {
  background-color: $dark;
  color: #fff;
  .button {
    background-color: $primary-color;
    color: #fff;
    &:hover {
      background-color: $light;
      color: $dark;
    }
  }
}

.primary {
  background-color: $primary-color;
  color: #fff;
}

.padding-top-super-big {
  padding-top: 6.5rem;
}













.medium {
  color: #335dad;
  font-weight: 500;
}

.small {
  font-size: .9rem;
  line-height: 1.2rem;
}


.title {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 400;
  color: #90949c;
}


#admin {

  p {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }
  .hr {
    margin-top: .4rem;
    margin-bottom: .4rem;
  }

  .add {
    a {
      color: #578df5;
      font-weight: 400;
      &:hover {
        color: $dark;
      }
    }
  }

  // TABS
  .tab {
    border: 1px solid #ccc;
    margin-right: -1px;
    a {
      color: $dark;
    }
    &:hover {
      background-color: $light;
      color: $dark;
    }
    &.active {
      background-color: #fff;
      color: $dark;
    }
  }

  .tab-content {
    padding: 0;
    margin-top: 1rem;
    &.active {
      background-color: transparent;
    }
  }

  .fa-trash-o {
    margin-right: 1rem;
  }

  .box {
    border: 1px solid #ccc;
    background-color: #fff;
    color: $dark;
    padding: $padding;
    margin-bottom: $padding;
  }


  .edit {
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    &:hover {
      background-color: #f5f5f5;
      .fa-pencil, .fa-trash-o {
        opacity: 1;
      }
    }
  }




  .flexbox-table {
    border: 1px solid #e9ebee;
  }


}

























