@import 'import';

/* https://smacss.com */
/* Base Rules */
body {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #222;
  &:hover {
    color: $primary-color;
  }
}

body, h1, h2, h3, h4, p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  font-weight: 500;
}

h1, h2, h3, h4, h5, p {
  padding-top: .6rem;
  padding-bottom: .6rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.8rem;

}

h2 {
  font-size: 2rem;
  line-height: 2.3rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
}

h5 {
  font-size: .9rem;
  line-height: 1.3rem;
  font-weight: 400;
}

p, ol li {
  color: #777;
  font-size: .85rem;
  line-height: 1.3rem;
  font-family: 'Open Sans', arial, sans-serif;
}

.gray {
  color: #777;
}

.primary-colored {
  color: lighten($primary-color, 0.1);
  font-weight: 400;
  &:hover {
    color: darken($primary-color, 5);
  }
}

/* Layout Rules */
section, footer .container {
  padding-top: $padding-big;
  padding-bottom: $padding-big;
}

main {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  min-height: 300px;
}

#most-popular {
  padding-top: 5rem;
  padding-bottom: 0;
  margin-bottom: -2.5rem;
  position: relative;
}



/* Themes Rules */
body {
  background-color: #fff;
}

.dark {
  background-color: $dark;
  color: #fff;
  p {
    color: #fff;
  }
  a {
    color: #fff;
    &:hover {
      color: $primary-color;
    }
  }
  .button {
    background-color: $primary-color;
    color: #fff;
    &:hover {
      background-color: $light;
      color: $dark;
    }
  }
}

.primary {
  background-color: $primary-color;
  color: #fff;
}

.padding-bottom-md {
  padding-bottom: 1.8rem;
}

.bordered {
  border: 1px solid #ededed;
  padding: $padding;
}

.img-container {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid #dadada;
  box-sizing: border-box;
  background: url(../images/vimeo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .color-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent url(../images/overlays/05.png) repeat scroll 0 0;
    z-index: 10;
    opacity: 0.2;
  }
  a {
    box-sizing: border-box;
  }
  a {
    &:hover {
      button {
        background-color: #f9c100;
        color: #fff;
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 5s;
  opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transition: opacity 5s;
  opacity: 0;
}

footer {
  .img-container, .img-container img {
    border: 1px solid #252525;
  }
}

.text-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* Module Rules */

.top-bar {
  background-color: #222;
  padding-top: 0;
  padding-bottom: 0;
  p {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: .75rem;
    color: #fff;
  }
  i {
    margin: .1rem .5rem 0 .5rem;
  }
  .fa {
    font-size: .9rem;
  }
  .today {
    margin-right: 2rem;
  }
}

a.active {
  color: $primary-color;
}

header {
  padding-bottom: 0;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}

.menu {
  font-size: 0;
  display: flex;
  position:relative;
  ul {
    justify-content: flex-start;
  }
  li {
    display: inline-block;
    width: auto;
    overflow-x: initial;
    overflow-y: hidden;
    white-space: normal;
    margin-bottom: 0;
    transition-duration: .3s;
    padding: 1rem 0;
    &.active > a, > a:hover {
       border-bottom: 3px solid #4db2ec;
    }
    > a {
      padding: 1.2rem 1rem .8rem 1rem;
      color: #000;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .9rem;
    }
    &:hover {
      .categories-previews-container, .search-container {
        display: block;
      }
    }
  }
}

#menu-search {
  justify-content: flex-end;
  margin-left: auto;
  padding-top: .8rem;
  margin-bottom: -1rem;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
  z-index: 40;
  .fa {
    padding-left: 2.5rem;
    opacity: 0.8;
  }
  &:hover {
    color: #4db2ec;
    .search-previews-container {
      display: block;
    }
  }
}


.menu-bar {
  display: none;
  .menu-bar-logo {
    display: none;
  }
}

.menu-bar.fixed {
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 10px 73px -11px rgba(48, 48, 48, 0.41);
  .menu-bar-logo {
    display: block;
    img {
      height: 48px;
      width: auto;
    }
  }
}

.up {
  margin-top: 0;
}
.down {
  margin-top: -4rem;
}

.social-icons {
  display: inline-block;
  padding-top: 0;
  font-size: 1.2rem;
  a:not(last-child) {
    margin-right: 1.5rem;
  }
}

.categories-previews-container, .search-previews-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.05rem;
  z-index: 50;
  display: none;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

#mobile-menu-search {
  .search-previews-container {
    display: block;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
  }
}

.search-previews-container {
  margin-top: 0.9rem;
  &:hover {
    display: block;
  }
  input {
    margin-bottom: 0;
  }
  .media {
    padding: .5rem;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
  .view-all-results {
    text-align: center;
    padding-top: .3rem;
    padding-bottom: 0;
    a {
      font-family: 'Open Sans', arial, sans-serif;
      font-weight: 600;
      color: #737373;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .algolia-credits {
    padding-top: .4rem;
  }
}

@media (min-width: $size-md) {
  .categories-previews-container {
    width: $size-md-container;
  }
}

@media (min-width: $size-lg) {
  .categories-previews-container {
    width: $size-lg-container;
  }
}

@media (min-width: $size-xl) {
  .categories-previews-container {
    width: $size-xl-container;
  }
}

.category-previews-box, .search-previews-box {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #f2f2f2;
  z-index: 50;
  $gutter: .5rem;
  .row {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }
  [class*="col-"] {
    padding-left: $gutter;
    padding-right: $gutter;
  }
  -webkit-box-shadow: 0px 10px 73px -11px rgba(48, 48, 48, 0.41);
  -moz-box-shadow: 0px 10px 73px -11px rgba(48, 48, 48, 0.41);
  box-shadow: 0px 10px 73px -11px rgba(48, 48, 48, 0.41);
}

#most-popular {
  $gutter: .094rem;
  font-family: 'Roboto',sans-serif;
  h2, p, a, .date {
    color: #fff;
  }
  h2 {
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 500;
  }
  h3 {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }
  [class*="col-"] {
    padding-left: $gutter;
    padding-right: $gutter;
    padding-bottom: $gutter;
    &:nth-child(3), &:nth-child(4) {
      padding-top: $gutter;
    }
  }
  .first-position {
    padding-bottom: $gutter * 2;
  }
}

.excerpt {
    color: #777;
    font-size: .85rem;
    line-height: 1.3rem;
    font-family: 'Open Sans', arial, sans-serif;
}

.info {
  display: inline;
  font-size: .78rem;
  color: #222;
}

.author {
  font-weight: 900;
}

.views {
  margin-left: 1rem;
  font-weight: 500;
}

.date {
  color: #737373;
  font-size: .75rem;
}

.header {
  border-bottom: 2px solid #f9c100;
  margin-bottom: 1.5rem;
}

.header-title {
  background-color: #f9c100;
  padding: .5rem .8rem .2rem .8rem;
  width: auto;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.post-title {
  font-family: 'Roboto', sans-serif;
  color: #111;
  font-size: 2.5rem;
  line-height: 2.8rem;
  font-weight: 400;
  padding-top: 0;
}

.post .article-text {
  h2, p, blockquote {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.95rem;
    line-height: 1.6rem;
    color: #222;
    word-wrap: break-word
  }
  h2 {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;
  }
  p {
    font-size: 1rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
  }
  blockquote, .ql-snow .ql-editor blockquote {
    border-left: 6px solid #ccc;
    background-color: #f7f7f7;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  strong {
    font-weight: 600;
  }
  em {
    font-style: italic;
  }
  a {
    color: $primary-color;
    text-decoration: underline;
    &:hover {
      color: #000;
    }
  }
  ol, ul {
    margin-left: 1rem;
    list-style: none;
    li {
      padding-left: 0.5em;
      &:before {
        display: none;
      }
    }
  }
  ol {
    li {
      list-style: decimal;
    }
  }
  ul {
    li {
      list-style: disc;
    }
  }
  .ql-editor {
    ol, ul {
      padding-left: 0;
      li:not(.ql-direction-rtl) {
        padding-left: 0.5rem;
      }
    }
  }
}

.post {
  textarea, input {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.95rem !important;
    line-height: 1.6rem;
    color: #222;
    word-wrap: break-word
  }
}

#privacy, #terms {

}


.ql-editor {
  min-height: 200px;
}

.ql-container.ql-snow, .ql-toolbar.ql-snow {
  border: $border-width solid $border-color !important;
  margin-bottom: -1px;
}


.page-title {
  font-size: 1.8rem;
  margin-bottom: .9rem;
  padding: 0;
}

.form-group.profile-image {
  padding-top: 1.25rem;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  padding: $padding;
}

.adv-container {
  text-align: center;
  padding: $padding;
  img {
    width: 100%;
    max-width: 450px;
  }
}
.ad-like {
  .adv-container {
    padding: 0;
  }
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 2.5rem;
}

footer {
  background: url("../images/footer.jpg") no-repeat center center scroll;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  display: flex;
  h4 {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .container {
    z-index: 10;
  }
  .hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: 1px solid #ccc;
    opacity: 0.15;
  }
  .color-overlay {
    background: #0d0d0d;
    opacity: 0.88;
  }
}

.search-by-algolia {
  width: 100px;
  height: 100%;
}

.footer-logo {
  max-width: 350px;
}

.social-icon-wrap {
  i {
    background-color: rgba(255, 255, 255, 0.04);
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.06);
    margin-right: .4rem;
    margin-bottom: .6rem;
    &:hover {
      color: $primary-color;
    }
  }
}

.subfooter {
  background-color: #000;
  padding-top: 0;
  padding-bottom: 0;
  p {
    font-size: .78rem;
    color: #ccc;
    font-weight: 200;
  }
  .links {
    p {
      text-align: right;
    }
    a:not(first-child) {
      padding-left: 1rem;
    }
  }
}

.author-block {
  h5 {
    font-weight: 600;
    padding-bottom: .5rem;
  }
  .title {
    margin: 0;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  a {
    color: #444;
    &:hover {
      color: $primary-color;
    }
  }
  .link {
    padding: 0;
    a {
      font-style: italic;
      font-size: .8rem;
      font-weight: bold;
    }
  }
  .public_email, .website {
    .link:first-child {
      padding-top: .3rem;
      margin-top: .3rem;
      border-top: 1px solid #e9ebee;
    }
  }
  .social-icons {
    padding-top: 1rem;
  }
  p {
    padding-top: .2rem;
    padding-bottom: .2rem;
    color: #222;
    line-height: 1.4rem;
  }
  .hr {
    margin-top: .3rem;
    margin-bottom: .3rem;
  }
  .view-more {
    color: $primary-color;
    font-weight: bold;
  }
}

#four-o-four {
  h2 {
    font-family: 'Roboto', sans-serif;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #646464;
  }
}




#output img {
  width: 300px;
}

.thumbnail-container {
  display: inline-block;
  padding: 0 .2rem;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}


#row-images {
  $gutter: .2rem;
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin-top: .4rem;
  [class*="col-"] {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}


.uploaded-image {
  position: relative;
  cursor: pointer;
  .delete {
    opacity: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    border-radius: 10%;
    border: 1px solid #fff;
    background-color: rgba(25, 25, 25, 0.3);
    z-index: 10;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .fa {
      padding-left: .38rem;
      padding-top: .32rem;
    }
    i {
      color: #f5f5f5;
    }
  }
}
.new, .editImg, #row-images [class*="col-"] {
  margin-bottom: .35rem;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  margin-bottom: 1rem;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.youtube-video, .vimeo-video {
  iframe {
    img {
      width: 100%;
    }
  }
}

.crop {
  cursor: pointer;
}

#sign-up-form #application_text {
  min-height: 26.82rem;
}


#dashboard input {
  min-height: 2rem;
  padding: .75rem;
}

#dashboard {
  h5, h4 {
    padding-top: 0;
  }
  select {
    min-height: 2rem;
    padding: .4rem;
    width: auto;
    margin-bottom: .5rem;
  }
}

#verification {
  p {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }
}

#user-management {
  h5 {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }
}

#tab-profile {
  .img-box {
    width: 110px;
  }
}

.img-upload {
  display: block;
  width: 110px;
}

.image-upload {
  cursor: pointer;
  input[type="file"] {
    visibility: hidden;
  }
  border: 2px solid #e9ebee;
  position: relative;
  .fa {
    color: #e9ebee;
    cursor: pointer;
  }
  &:hover {
    .fa {
      color: #bdbfc2;
    }
  }
  .hover {
    background-color: #f9f9f9;
    z-index: 2;
  }
}

.no-wrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.filters {
  padding-bottom: 1.2rem;
}
.filter {
  margin-right: .5rem;
  white-space: nowrap;
  cursor: pointer;
}
.checkbox, .radio-button {
  margin-right: .5rem;
  margin-top: .5rem;
  cursor: pointer;
  white-space:normal;
}

.margin-right-big {
  margin-right: 2rem;
}

html {
  font-size: .95rem;
}

@media (max-width: $size-md) {
  .padding-top-for-mobile {
    padding-top: 2rem;
  }
}

@media (min-width: $size-md) {
  html {
    font-size: 1rem;
  }
  main {
    padding-top: 2.5rem;
  }
  #most-popular {
    padding-top: 1.5rem;
    margin-bottom: 0;
  }
  .menu-bar {
    display: block;
  }
  .down {
    margin-top: -3.1rem;
  }
}

@media (min-width: $size-md) AND (max-width: $size-lg - 1px) {
  #most-popular {
    h3 {
      padding-bottom: 0;
      font-size: .85rem;
      line-height: 1.4rem;
    }
  }
}

@media (max-width: $size-md  - 1px) {
  .text-center-sm {
    text-align: center;
  }
  .subfooter {
    .row {
      flex-direction: column-reverse;
      [class*="col-"] {
        flex: 1;
      }
    }
    .links {
      text-align: center;
      p {
        text-align: center;
      }
    }
  }
}

@media (min-width: $size-lg) {
  .adv-container {
    padding: $padding 0 $padding 1.5rem;
    &:first-child {
      padding-top: 0;
    }
  }
}