<template>
  <div class="inline">
    <button type="button" @click="showModal = true" :disabled="unsaved_changes !== 1">Cancel unsaved changes</button>
    <modal v-if="showModal" @close="showModal = false">
      <h3 slot="header">Are you sure you want to cancel the unsaved changes ?</h3>
      <p slot="body">This action cannot be undone.</p>
      <button type="button" slot="footer" class="margin-left" @click="cancelChanges">Cancel unsaved changes</button>
    </modal>
  </div>
</template>

<script>
    export default {
        props: ['draft_id_prop', 'unsaved_changes'],
        data() {
            return {
                draftId: this.draft_id_prop,
                showModal: false
            }
        },
        methods: {
            cancelChanges() {
                axios.put('/drafts/' + this.draftId + '/cancel-changes')
                    .then(response => {
                        this.showModal = false;
                        window.location.reload();
                    }, error => {
                        console.log(error)
                    });
            }
        }
    }
</script>