<template>
  <div class="inline">
    <button type="button" @click="showModal = true">Delete</button>
    <modal v-if="showModal" @close="showModal = false">
      <h3 slot="header">Are you sure you want to permanently delete this post ?</h3>
      <p slot="body">This action cannot be undone.</p>
      <button type="button" slot="footer" class="margin-left" @click="deleteDraft()">Delete</button>
    </modal>
  </div>
</template>

<script>
    export default {
        props: ['draft_id_prop'],
        data() {
            return {
                draftId: this.draft_id_prop,
                showModal: false
            }
        },
        methods: {
            deleteDraft() {
                axios.put('/drafts/' + this.draftId + '/delete')
                    .then(response => {
                        this.showModal = false;
                        window.location.replace("http://news.test/dashboard/posts");
                    }, error => {
                        console.log(error)
                    });
            }
        }
    }
</script>