<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper center-hv-absolute">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header"></slot>
          </div>
          <div class="modal-body">
            <slot name="body"></slot>
          </div>
          <div class="modal-footer right">
            <button type="button" @click="close">Close</button>
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
    export default {
        data() {
            return {
                showModal: false
            }
        },
        methods: {
            close() {
                this.showModal = false;
                this.$emit('close');
            }
        }
    }
</script>

<style>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-container {
    width: 370px;
    padding: 1.7rem;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    padding-top: 0;
    padding-bottom: 0.5rem;
    color: #4db2ec;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  .modal-body {
    margin-bottom: .4rem;
  }

  .modal-body p {
    font-size: 1rem;
    color: #333;
  }

  .modal-footer button {
    margin-top: .4rem;
  }

  /*
   * The following styles are auto-applied to elements with
   * transition="modals" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modals transition by editing
   * these styles.
   */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>