<template>
  <div class="inline">
    <button type="button" @click="showModal = true" :disabled="unsaved_changes !== 1">Publish</button>
    <modal v-if="showModal" @close="showModal = false">
      <h3 slot="header">Are you sure you want to publish this post ?</h3>
      <p slot="body">Once you publish a post, you cannot change it's category and url.</p>
      <button type="button" slot="footer" class="margin-left" @click="publish()">Publish and view</button>
    </modal>
  </div>
</template>

<script>
    export default {
        props: ['draft_id_prop', 'unsaved_changes'],
        data() {
            return {
                draftId: this.draft_id_prop,
                showModal: false
            }
        },
        methods: {
            publish() {
                axios.put('/drafts/' + this.draftId + '/publish')
                    .then(response => {
                        this.showModal = false;
                        this.$parent.$emit('published', response.data.message);
                        window.location.replace(response.data.url);
                    }, error => {
                        console.log(error)
                    });
            }
        }
    }
</script>