<template>
  <div class="inline">
    <button type="button" @click="showModal = true">Reactivate my account</button>
    <modal v-if="showModal" @close="showModal = false">
      <h4 slot="header">Are you sure you want to reactivate your account ?</h4>
      <div slot="body">
        <p>If you deactivate your account, all your posts and profile won't be visible anymore to the public.</p>
      </div>
      <button type="button" slot="footer" class="margin-left" @click="selfReactivateAccount()">Reactivate</button>
    </modal>
  </div>
</template>

<script>
    import { redirecIfBanned } from '../../../functions';
    export default {
        data() {
            return {
                showModal: false
            }
        },
        methods: {
            selfReactivateAccount() {
                axios.put('/users/self-reactivate', this.user).then(response => {
                    redirecIfBanned(response);
                    this.showModal = false;
                    window.location.replace("http://news.test/dashboard/settings");
                }, error => {

                });
            }
        }
    }
</script>