<template>
  <div class="inline">
    <button type="button" @click="showModal = true">Deactivate my account</button>
    <modal v-if="showModal" @close="showModal = false, disabled = 1">
      <h4 slot="header">Are you sure you want to deactivate your account ?</h4>
      <div slot="body">
        <p>If you deactivate your account, all your posts and profile won't be visible anymore to the public.</p>
        <p>Please enter <span class="error">Deactivate my account</span> in the field below and press Deactivate to deactivate your account.</p>
        <input type="text" name="confirm" @keyup="confirm($event)">
      </div>
      <button type="button" slot="footer" class="margin-left" @click="selfDeactivateAccount()" :disabled="disabled === 1">Deactivate</button>
    </modal>
  </div>
</template>

<script>
    import { redirecIfBanned } from '../../../functions';
    export default {
        data() {
            return {
                showModal: false,
                disabled: 1
            }
        },
        methods: {
            confirm(e) {
                if(e.target.value === 'Deactivate my account') {
                    this.disabled = 0;
                }
            },
            selfDeactivateAccount() {
                axios.put('/users/self-deactivate', this.user).then(response => {
                    redirecIfBanned(response);
                    this.showModal = false;
                    window.location.replace("http://news.test/dashboard/settings");
                }, error => {

                });
            }
        }
    }
</script>