<template>
    <div class="inline">
        <button type="button" @click="showModal = true">{{ button }}</button>
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">Are you sure you want to remove this post ?</h3>
            <p slot="body">When you remove a post, it won't be viewable by the public and the user won't be able to edit it.</p>
            <button type="button" slot="footer" class="margin-left" @click="toggleRemovePost()">{{ button }}</button>
        </modal>
    </div>
</template>

<script>
    export default {
        props: ['post_prop'],
        data() {
            return {
                post: this.post_prop,
                showModal: false,
                button: 'Remove'
            }
        },
        mounted() {
            this.button = this.post.deleted_at ? 'Restore' : 'Remove'
        },
        methods: {
            toggleRemovePost() {
                let post_id = this.post.id;
                axios.put('/posts/toggle-remove', {
                    post_id: post_id
                }).then(response => {
                    this.showModal = false;
                    this.post = response.data;
                    this.$parent.$emit('postId', this.post.id);
                }, error => {
                    console.log(error)
                });
            }
        }
    }
</script>