ul {
  padding: 0;
  margin: 0;
  &.indented {
    padding: inherit;
    margin-left: .8rem;
    list-style: inherit;
    li {
      list-style: inherit;
    }
  }
}

li {
  list-style: none;
}

a:active,
a:hover {
  outline-width: 0;
}