.button, button, #submit, .submit, input[type=submit] {
  border: none;
  transition: all 200ms ease-in-out 0s;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: $dark;
  padding: .5rem .8rem .4rem .8rem;
  border-radius: .15rem;
  width: auto;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .85rem;
  line-height: .9rem;
  font-family: 'Open Sans', arial, sans-serif;
  a {
    color: #fff;
  }
  &:hover {
    background-color: #f9c100;
    color: #fff;
  }
  &.medium {
    padding: .4rem .5rem .3rem .5rem;
  }
  &.small {
    border-radius: 0;
    padding: .3rem .5rem .2rem .5rem;
  }
  &.x-small {
    border-radius: 0;
    padding: .2rem .5rem .1rem .5rem;
    font-size: .65rem;
  }
}

button {
  &[disabled] {
    background-color: dimgray;
    cursor: default;
  }
}

