input[type='text'],
input[type='email'],
input[type="password"],
select,
textarea {
  font-size: 16px !important;
}

textarea {
  resize: vertical;
  color: #777;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  padding: .8rem;
}



input[type="search"] {

}

input[type=submit] {

}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea {
  color: #777;
  background-color: #FFF;
  font-weight: 400;
  display: block;
  width: 100%;
  min-height: 2.8rem;
  border: 1px solid $light;
  border-radius: 0px;
  box-shadow: none;
  height: auto;
  padding: .9rem;
  margin-bottom: .7rem;
  margin-top: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 10px;
  border-radius: 0;
  background-color: #f3f3f3;
  color: #777;
  cursor: pointer;
  display: block;
  width: 15rem;
  border: 2px solid $medium;
  min-height: 2.4rem;
  padding: .4rem;
  width: auto;
}

input::-webkit-input-placeholder {
  color: #939393;
}

input::-moz-placeholder {
  color: #939393;
}

textarea::-webkit-input-placeholder {
  color: #939393;
}

textarea::-moz-placeholder {
  color: #939393;
}

.img-upload {
  input[type="file"] {
    display: none;
  }
}

.upload-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 200ms ease-in-out 0s;
  padding: .4rem 0 .2rem 0;
  border-radius: 0;
  background-color: $light;
  color: $dark;
  cursor: pointer;
  display: block;
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
  .fa {
    font-size: 18px;
  }
}

input, select, textarea {
  border: $border-width solid $border-color;
  &:focus {
    outline: 0;
    border: $border-width solid $primary-color;
  }
  &:focus {
    border: $border-width solid $primary-color;
  }
}

input, textarea {
  padding: .8rem;
}

.form-group {
  padding-bottom: 1rem;
  &.has-addon {
    display: flex;
    input {
      flex: 1;
      padding: .8rem;
      border: $border-width solid $border-color;
      border-right: none;
      &:focus {
        outline: 0;
        border: $border-width solid $primary-color;
        border-right: none;
      }
      &:focus + span {
        border: $border-width solid $primary-color;
        border-left: none;
      }
    }
    span {
      background-color: $medium;
      padding: 1rem;
      border: $border-width solid $border-color;
      border-left: none;
    }
  }
}

label {
  color: #222;
  font-size: .85rem;
  line-height: 1.3rem;
  font-family: 'Open Sans', arial, sans-serif;
}

input.disabled {
  background-color: #f5f5f5;
}