@import 'theme';

// SHOWMORE
.show-more {
  display: none;
  transition: opacity 1400ms ease-in-out 200ms;
  &.open {
    display: block;
  }
}


// VIDEO
.absolute {
  position: absolute;
}
.video-section {
  height: 600px;
  padding: 0;
  position: relative;
  overflow:hidden;
  .absolute {
    width: 100vw;
    height: 100%;
  }
  .container {
    position: relative;
    display: flex;
    height: 100%;
    z-index: 20;
  }
}

video {
  width: 100%;
  min-width: 1300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  #video {
    background: url("../videos/ocean.jpg") no-repeat;
    background-size: cover;
  }
}

// MID-SECTIONS
.mid-section {
  padding-top: 0;
  padding-bottom: 0;
  height: 28rem;
  position: relative;
  display: flex;
  .row {
    z-index: 20;
  }
}

.color-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 10;
  opacity: 0.7;
}

#one {
  background: url("../images/bg_levis.jpg") no-repeat center center scroll;
  background-size: cover;
}

// MID-SECTION MOBILE CLASSES (for javascript)
.mid-section.desktop {
  background-attachment: fixed !important;
  background-position: top center !important;
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mid-section {
    background-attachment: scroll !important;
    background-position: center center !important;
  }
}

// PROMO-BAR
#promo-bar{
  padding-top: 0;
  padding-bottom: 0;
}

.promo-bar-container {
  width: 100%;
  background-color: transparentize($primary-color, 0.08);
  color: #fff;
}

.promo-bar-container.fixed {
  z-index: 1000;
  bottom: 0;
}

// TABS
.tab {
  display:inline-block;
  cursor: pointer;
  border-left: 1px solid $border-color;
  border-top: 1px solid $border-color;
  a {
    padding: 10px 20px;
    display: block;
  }

  &.active, &:hover {
    color: #419cd0;
  }
}
.tab:last-child {
  border-right: 1px solid $border-color;
}

//.tab-content {
//  display: none;
//  &.active {
//    display: block;
//  }
//}

// SCROLL-TO
body {
  &.in-transition {
    transition: transform 900ms ease;
  }
}

// img-box
.img-box {
  position: relative;
  img {
    display: block;
  }
  .color-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    opacity: 0;
    p {
      color: #fff;
    }
    &:hover {
      opacity: 1;
    }
  }
}

// media object
.media {
  display: flex;
  h5 {
    padding: 0;
  }
}

.media-left {
  margin-right: 1rem;
  width: 100px;
}

.media-content {
  flex: 1;
  .text {
    padding-top: .2rem;
    padding-bottom: .2rem;
  }
}



