$menu-height: 3.8rem;

@media (max-width: $size-md) {
  header {
    z-index: 100;
    width: 100%;
  }

  nav {
    width: 100%;
    background-color: $dark;
    position: absolute;

    .mobile-menu-button {
      position: absolute;
      top: 1.3rem;
      left: 1.1rem;
      cursor: pointer;
      color: #fff;
      display: block;
      &:hover {
        .bars span {
          background-color: $primary-color;
        }
      }
    }

    .logo {
      height: $menu-height;
      width: auto;
      padding: 0.75rem 0.75rem 0.75rem 0;
    }

    .mobile-search-button {
      position: absolute;
      top: 1.3rem;
      right: 1.1rem;
      cursor: pointer;
      color: #fff;
      display: block;
      p {
        padding: 0;
        color: #fff;
        font-size: 1.4rem;
        &:hover {
          color: $primary-color;
        }
      }
    }
    &.up, &.down {
      position: fixed;
    }
  }

  .bars {
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .bars span {
    display: block;
    position: absolute;
    width: 2rem;
    opacity: 1;
    left: 0;
    background-color: #fff;
    border-radius: 0;
    height: .25rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .bars span:nth-child(1) {
    top: 0;
  }

  .bars span:nth-child(2), .bars span:nth-child(3) {
    top: .55rem;
  }

  .bars span:nth-child(4) {
    top: 1.1rem;
  }

  // MOBILE MENU
  .mobile-menu, .mobile-search {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7)  url(../images/mobile-bg.jpg) no-repeat center center scroll;
    background-size: cover;
    transition: margin .5s cubic-bezier(.79,.14,.15,.86) 0ms;

    .color-overlay {
      background: #0d0d0d;
      opacity: 0.6;
    }
    .content {
      padding: 2.1rem;
    }
    .content, p, a {
      z-index: 100;
      color: #fff;
    }
    .category {
      padding-left: 12px;
      border-left: 6px solid #f9c100;
    }
    .category-previews-box {
      p {
        color: #777;
      }
    }
  }

  .mobile-menu {
    margin-left: -52em;
    &.open {
      margin-left: 0;
    }
    .social-icons {
      a {
        color: #fff;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .mobile-search {
    margin-left: 52em;
    &.open {
      margin-left: 0;
    }
  }

  .close-mobile-menu, .close-mobile-search {
    position: absolute;
    top: 1.3rem;
    right: 1.1rem;
    cursor: pointer;
    color: #fff;
    display: block;
    &:hover {
      .bars span {
        background-color: $primary-color;
      }
    }
  }


}

