.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  font-size: 0px;
  li {
    display: inline;
    cursor: pointer;
    &:first-child a {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &:last-child a {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    a {
      background-color: $light;
      color: $dark;
      padding: 5px 10px;
      font-size: 1.1rem;
      border: 1px solid #fff;
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }

  .active {
    a {
      background-color: $dark;
      color: #fff;
    }
  }
}