table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: $border-width solid $border-color;
  text-align: left;
  padding: 8px;
}

td {
  a {
    color: #222;
  }
  .button {
    // to fix a bug where there is a space above the border-top
    margin: .01rem;
  }
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

.tab-block {
  font-size: 0;
  .tab {
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .tab-content, td {
    font-size: 1rem;
  }
}

.action {
  text-align: center;
  padding: 0 8px;
}

.scroll {
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.flexbox-table {
  .list-item {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    .title {
      margin-right: auto;
    }
    .title, .count {
      font-size: .9rem;
    }
  }
  p {
    line-height: .65rem;
  }
}

